<div class="container fail">
  <h2>Login Failure</h2>
  <form name="login" action="/login" method="post">
    <span class="login_field">Username: <br><input type="text" name="user[username]" /></span>
    <span class="login_field">Password: <br><input type="password" name="user[password]" /></span>
    <input type="submit" value="Login" />
  </form>
</div>